[submodule "dpdk"]
	path = dpdk
	url = https://github.com/BorisPis/asplos22-nicmem-dpdk.git
[submodule "fastclick"]
	path = fastclick
	url = https://github.com/BorisPis/asplos22-nicmem-fastclick.git
[submodule "trex"]
	path = trex
	url = https://github.com/BorisPis/asplos22-nicmem-trex.git
[submodule "tools/pcm"]
	path = tools/pcm
	url = https://github.com/opcm/pcm.git
[submodule "micas"]
	path = micas
	url = https://github.com/BorisPis/asplos22-nicmem-mica.git
	branch = server-asplos22
[submodule "micac"]
	path = micac
	url = https://github.com/BorisPis/asplos22-nicmem-mica.git
	branch = client-asplos22
[submodule "rdma-core-server"]
	path = rdma-core-server
	url = https://github.com/linux-rdma/rdma-core
	branch = stable-v33
[submodule "rdma-core-client"]
	path = rdma-core-client
	url = https://github.com/linux-rdma/rdma-core
	branch = stable-v23
